<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freshsoftwareconcepts.freshnetscanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ManifestConfirmationActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.ManifestDetailActivity"
            android:parentActivityName=".ui.ManifestConfirmationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ManifestConfirmationActivity" />
        </activity>
        <activity
            android:name=".ui.PalletsDetailsActivity"
            android:parentActivityName=".ui.ManifestDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ManifestDetailActivity" />
        </activity>
        <activity
            android:name=".ui.PalletsDetailActivity"
            android:parentActivityName=".ui.PalletsDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PalletsDetailsActivity" />
        </activity>
    </application>

</manifest>